.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}

.App-content {
    min-height: 100%;
}

.App-header, .App-footer {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  font-size: 1vmax;
  color: white;
}

  .App-header a, .App-footer a {
    color: rgb(200, 200, 230);
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.App-link {
  color: #61dafb;
}